{% extends "base.html" %}

{%block title%} Admins {% endblock %}
{%block content%}

<div class="container my-5">
    <div class="text-center">
        <h1>All Admins</h1>
    </div>
    <br>
    <div class="row">
        {% if admins %}
            {% for admin in admins %}
                <div class="col-md-6">
                    <div class="card mb-3 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">{{ admin.username }}</h5>
                            <p class="card-text"><strong>ID:</strong> {{ admin.id }} <br> <strong>Email:</strong> {{ admin.email }}</p>
                            {% if current_user.is_super_admin() %}
                                <a href="{{ url_for('admin_.delete_admin', aid=admin.id) }}" class="btn btn-danger">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-12">
                <h3 class="text-center">No Admins</h3>
            </div>
        {% endif %}
    </div>
</div>

{%endblock%}
