<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>{%block title%} {%endblock%}</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <button class="navbar-toggle" id="navbar-toggle">
                ☰
            </button>
            <ul class="navbar-links">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">Departments</a></li>
                <li><a href="#services">Upload</a></li>
            </ul>
            <div class="navbar-logo">
                <img src="../static/logo.png" alt="logo">
            </div>
        </div>
    </nav>

    {%block content%} {%endblock%}

    <script src="../static/script.js"></script>
</body>
</html>