<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/logo.ico" type="image/x-icon">
    <title>{%block title%} {%endblock%}</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <button class="navbar-toggle" id="navbar-toggle">
                ☰
            </button>
            <ul class="navbar-links">
                <li><a href="/">Home</a></li>
                <li><a href="/departments">Departments</a></li>
                <li><a href="/upload">Upload</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="/admin/logout">Logout</a></li>
                <li><a href="{{ url_for('admin_.signup') }}">Add Admin</a></li>
                {% else %}
                <li><a href="/admin/login">Admin Login</a></li>
                {% endif %}
            </ul>
            <div class="navbar-logo">
                <img src="../static/logo.png" alt="logo">
            </div>
        </div>
    </nav>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <div class="flash-message" id="flashMessage">
                    <span class="close-btn" onclick="closeFlashMessage()">&times;</span>
                    {{ message }}
                </div>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {%block content%} {%endblock%}

    <script src="../static/script.js"></script>
</body>
</html>