{% extends "base.html" %}

{%block title%} Admin Dashboard {% endblock %}
{%block content%}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                {% if admin %}
                <div class="card-body">
                    <h2 class="card-title text-center">{{ admin.username }}</h2>
                    <p class="card-text"><strong>ID:</strong> {{ admin.id }}</p>
                    <p class="card-text"><strong>Email:</strong> {{ admin.email }}</p>
                    <div class="d-grid gap-2">
                        <a href="{{ url_for('admin_.admons') }}" class="btn btn-primary">View All Admins</a>
                        {% if current_user.is_super_admin() %}
                        <a href="{{ url_for('admin_.delete_admin', aid=admin.id) }}" class="btn btn-danger">Delete Account</a>
                        <a href="{{ url_for('admin_.register')}}" class="btn btn-success">Add Admin</a>
                        <hr>
                        <p class="text-center text-muted">Super Admin</p>
                        {% endif %}
                    </div>
                </div>
                {% else %}
                <div class="card-body text-center">
                    <h3>Admin Not Found</h3>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{%endblock%}
