{% extends "base.html" %}

{%block title%} Departments | Hamdard Library {% endblock %}
<link rel="stylesheet" href="../static/style.css">
{%block content%}

<main class="main">
    <div class="intro-div">
        <h1>Departments</h1> 
        <div class="lnks-simple">
            <ul>
                <li><a href="/departments/sest">School of Engineering Sciences & Technology</a></li>
                <li><a href="/departments/himser">School of Medical Sciences and Research</a></li>
                <li><a href="/departments/sumer">School of Unani Medical Education & Research</a></li>
                <li><a href="/departments/scls">School of Chemical and Life Sciences</a></li>
                <li><a href="/departments/sper">School of Pharmaceutical Education and Research</a></li>
                <li><a href="/departments/snsah">School of Nursing Sciences & Allied Health</a></li>
                <li><a href="/departments/sist">School of Interdisciplinary Sciences & Technology</a></li>
                <li><a href="/departments/smbs">School of Management and Business Studies</a></li>
                <li><a href="/departments/shss">School of Humanaties and Social Sciences</a></li>
                <li><a href="/departments/law">School of Law</a></li>
            </ul>
        </div>
    </div>

</main>

{%endblock%}