{% extends "base.html" %}

{%block title%} Home | Hamdard Library {% endblock %}
<link rel="stylesheet" href="../static/style.css">
{%block content%}

<div class="container">
    <h1>Uploaded Files for {{ department.upper() }}</h1>
    <div class="card-container">
        {% for file in files %}
        <div class="card">
            <h2>{{ file.file_name }}</h2>
            <p>Department: {{ file.dept }}</p>
            <a href="{{ url_for('static', filename='uploads/' ~ file.file_path) }}" download>Download</a>
        </div>
        {% endfor %}
</div>

{%endblock%}