{% extends "base.html" %}

{%block title%} {{ department.upper() }} Files | Hamdard Library {% endblock %}
<link rel="stylesheet" href="../static/style.css">
{%block content%}

<div class="container">
    <div class="intro-div">
        <h1>Uploaded Files for {{ department.upper() }}</h1>
    </div>
    <br>
    <div class="card-container">
        {% if files %}
        {% for file in files %}
        {% if file.file_status == "true" %}
        <div class="card">
            <h2>{{ file.file_name }}</h2>
            <p>Department: {{ file.file_department }}</p>
            <a href="{{ file.file_url }}" download>Download</a> <!-- Use Firebase URL -->
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('admin_.delete_file', file_id=file.id) }}" class="delete-btn">Delete</a>
            {% endif %}
        {% endif %}
        </div>
    {% endfor %}

    
        <!-- {% for file in files %}
            <li>
                <strong>{{ file.file_name }}</strong><br>
                <a href="{{ file.file_url }}" download>Download</a><br>
                Department: {{ file.department }}
            </li>
        {% endfor %} -->
        {% else %}
        <br>
        <h3>No file uploaded, <a href="/upload">upload something</a>!</h3>
        {% endif %}
</div>

{%endblock%}