{% extends "base.html" %}

{%block title%} {{ department.upper() }} Files | Hamdard Library {% endblock %}
{%block content%}

<div class="container my-5">
    <div class="intro-div text-center">
        <h1>Uploaded Files for {{ department.upper() }}</h1>
    </div>
    <br>
    <div class="row">
        {% if files %}
            {% for file in files %}
                {% if file.file_status == "true" %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">{{ file.file_name }}</h5>
                                <p class="card-text">Department: {{ file.file_department }}</p>
                                <div class="d-flex justify-content-between">
                                    <a href="{{ file.file_url }}" class="btn btn-success" download>Download</a> <!-- Green Download Button -->
                                    {% if current_user.is_authenticated %}
                                        <a href="{{ url_for('admin_.delete_file', file_id=file.id) }}" class="btn btn-danger">Delete</a> <!-- Red Delete Button -->
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <br>
            <h3 class="text-center">No files uploaded, <a href="/upload">upload something</a>!</h3>
        {% endif %}
    </div>
</div>

{%endblock%}
