{% extends "base.html" %}

{%block title%} Admin Login {% endblock %}
<link rel="stylesheet" href="../static/style.css">
{%block content%}

<main>
    <br>
    <div class="form-container">
        <form method="POST" enctype="multipart/form-data">
            <h3><legend>Admin Login</legend></h3><br>
           <label for="email">Email</label>
           <input type="email" name="email" id="email">
           <label for="password">Password</label>
           <input type="password" name="password" id="password">
           <br>
            <button type="submit">Login</button>
        </form>
    </div>
</main>

{%endblock%}