{% extends "base.html" %}

{%block title%} File Requests Admin {% endblock %}
{%block content%}

<div class="container my-5">
    <div class="text-center">
        <h1>Requested Files for Upload</h1>
    </div>
    <br>
    <div class="row">
        {% if files %}
            {% for file in files %}
                {% if file.file_status == "false" %}
                    <div class="col-md-6">
                        <div class="card mb-3 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">{{ file.file_name }}</h5>
                                <p class="card-text"><strong>Department:</strong> {{ file.file_department }}</p>
                                <div class="d-flex justify-content-between">
                                    <a href="{{ url_for('static', filename='uploads/' ~ file.file_path) }}" download class="btn btn-success">Download</a>
                                    <a href="{{ url_for('admin_.file_approve', file_id=file.id) }}" class="btn btn-primary">Approve</a>
                                    <a href="{{ url_for('admin_.delete_file', file_id=file.id) }}" class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <div class="col-12">
                <h3 class="text-center">No files requested, <a href="/upload">upload something</a>!</h3>
            </div>
        {% endif %}
    </div>
</div>

{%endblock%}
