<!-- page where all the requested files for upload are shown to the admin -->
{% extends "base.html" %}

{%block title%} File Requests Admin {% endblock %}
<link rel="stylesheet" href="../static/style.css">
{%block content%}

<div class="container">
    <div class="intro-div">
        <h1>Requested Files for Upload</h1>
    </div>
    <br>
    <div class="card-container">
        {% if files %}
            {% for file in files %}
                {% if file.file_status == False %}
                    <div class="file-container">
                        <div class="file-details">
                            <span>{{ file.id }}. {{ file.file_name }}, Department: {{ file.dept }}</span>
                            <div>
                                <a href="{{ url_for('static', filename='uploads/' ~ file.file_path) }}" download class="download-link">Download</a>
                                <a href="{{ url_for('admin_.file_approve', file_id=file.id) }}" class="approve-link">Approve</a>
                                <a href="{{ url_for('admin_.delete_file', file_id=file.id) }}" class="delete-link">Delete</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <br>
            <h3>No file uploaded, <a href="/upload">upload something</a>!</h3>
        {% endif %}
</div>

{%endblock%}