<!-- page where all the requested files for upload are shown to the admin -->
{% extends "base.html" %}

{%block title%} File Requests Admin {% endblock %}
<link rel="stylesheet" href="../static/style.css">
{%block content%}

<div class="container">
    <div class="intro-div">
        <h1>Requested Files for Upload</h1>
    </div>
    <br>
    <div class="card-container">
        {% if files %}
        {% for file in files %}
        {% if file.file_status == False %}
        <div class="card">
            <h2>{{ file.file_name }}</h2>
            <p>Department: {{ file.dept }}</p>
            <a href="{{ url_for('static', filename='uploads/' ~ file.file_path) }}" download>Download</a><br>
            <a href="/file_approve/{{ file.id }}">Approve</a>
        </div>
        {% endif %}
        {% endfor %}
        {% else %}
        <br>
        <h3>No file uploaded, <a href="/upload">upload something</a>!</h3>
        {% endif %}
</div>

{%endblock%}